.quizHeader {
  background-color: #222;
  padding: 3rem;
  color: white;
  text-align: center;
}
.loading{
  display: flex;   
  justify-content: center;
  padding:10rem
}
.video{
  display: flex;   
  justify-content: center;
  padding:2rem;
}
.select{
  position: relative;  
  max-width: 50rem;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  /* background: #fff; */
  border-radius: 3px;
  color:black
}